<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.GestionVentasConnectionString"
            connectionString="Data Source=DESKTOP-RR1BBOV\SQLEXPRESS;Initial Catalog=GestionVentas;User ID=AlejoDB"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>